.header {
  font-weight: bold;

  .container {
    height: var(--header-height);
  }

  .amount {
    margin-right: 1.5rem;
  }

  &__logo {
    font-size: 1.5rem;
    color: #000;

    a {
      color: inherit;
    }

  }

  &__cart {
    div:first-child {
      color: #555;
    }

    span:last-child {
      color: var(--accent-color);
    }
  }

}