// Fonts
:root {
  --main-font: 'Roboto', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
}

// Styles
:root {
  --primary-color: #6E193D;
  --secondary-color: #0E5391;
  --accent-color: #02B1A6;
  --text-main-color: #000;
  --text-second-color: #FFF;
  --text-color-alternate: #cfcfcf;
}

$primary-color: #6E193D;
$secondary-color: #0E5391;
$accent-color: #02B1A6;
$text-main-color: #000;
$text-second-color: #FFF;
$text-color-alternate: #cfcfcf;