// Fonts
:root {
  --main-font: 'Roboto', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
}

// Styles
:root {
  --primary-color: #46ac38;
  --secondary-color: #0e4213;
  --accent-color: #6E193D;
  --text-main-color: #000;
  --text-second-color: #FFF;
  --bg-color: #EEE;
}

$primary-color: #46ac38;
$secondary-color: #0E5391;
$accent-color: #6E193D;
$text-main-color: #000;
$text-second-color: #FFF;
$bg-color: #EEE;